{% extends 'attendance/framed_base.html' %}
{% block content %}
<h3>Record Attendance</h3>

<div class="row">
	<div class="col-sm-5">
		<h4>Edit Jobs without attendance</h4>
		<ul>
			{% for job in no_jobs %}
				<li><a href="{% url 'attendance:add_attendance' job.attendance_record.pk %}">{{job}}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-sm-5">
		<h4>Edit Jobs with attendance</h4>
		<ul>
			{% for job in jobs %}
				<li><a href="{% url 'attendance:add_attendance' job.attendance_record.pk %}">{{job}}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}