{% extends 'attendance/base.html' %}
{% block body %}
<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-pills nav-stacked">
				<li{% if active == 'home' %} class="active"{% endif %}><a href="{% url 'attendance:index' %}">Home</a></li>
				<li{% if active == 'musicians' %} class="active" {% endif %}><a href="{% url 'attendance:musicians' %}">View by Musician</a></li>
				<li{% if active == 'jobs' %} class="active"{% endif %}><a href="{% url 'attendance:jobs' %}">View by Job</a></li>
				<li{% if active == 'times' %} class="active"{% endif %}><a href="{% url 'attendance:times' %}">View by Year/Month</a></li>
				<li role="presentation" class="dropdown{% if active == 'add' %} active{% endif %}">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Record Attendance</a>
					<ul class="dropdown-menu" role="menu">
					</ul>
				</li>
				<li{% if active == 'analytics' %} class="active"{% endif %}><a href="{% url 'attendance:analytics' %}">View Analytics</a></li>
			</ul>
	</div>
	<div class="col-sm-9 col-md-10 main">
		{% block content %}
		{% endblock %}
	</div>
</div>
{% endblock %}