{% extends 'attendance/framed_base.html' %}
{% block content %}
<p>This page shall list details about a job</p>
<ul>
	<li>Name: {{job.name|capfirst}}</li>
	<li>Date: {{job.start_date}}</li>
	<li>Location: {{job.location}}</li>
	{% if not job.attendancerecord %}
	<li>Attendance has not been recorded yet.</li>
</ul>
	{% else %}
	<li>Musicians Present: {{job.num_present}} out of {{job.num_booked}}</li>
	<li>On Strength Musicians Present: {{job.num_on_strength_present}} out of {{job.num_on_strength_booked}}
</ul>
<p></p>
<div class="table-responsive">
	<table class="table table-bordered table-condensed">
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Attended?</th>
		</tr>
		{% for musician in job.roster.musicians_booked.all %}
		<tr{% if musician.is_on_strength %} class="warning"{% endif %}>
			<td>{{musician.get_rank_display}}</td>
			<td>{{musician.name}}</td>
			{% if musician not in job.attendancerecord.musicians_present.all %}
			<td>
				<span class="glyphicon glyphicon-remove"></span>
			{% else %}
			<td>
				<span class="glyphicon glyphicon-ok"></span>
			{% endif %}
			</td> 
		</tr>
		{% endfor %}
	</table>
</div>
{% endif %}

{% endblock %}