{% extends 'attendance/framed_base.html' %}
{% block content %}
<h3>Year-to-Date View</h3>
<ul class="nav nav-tabs">
	<li role="presentation"{% if yearview == 'all' %} class="active" {% endif %}><a href="{% url 'attendance:times' %}">All Events</a></li>
	<li role="presentation"{% if yearview == 'rehearsal' %} class="active" {% endif %}><a href="{% url 'attendance:times_rehearsal' %}">Rehearsals</a></li>
	<li role="presentation"{% if yearview == 'gig' %} class="active" {% endif %}><a href="{% url 'attendance:times_gig' %}">Gigs</a></li>
</ul>
<div class="table-responsive">
	<table class="table table-striped">
		<tr>
			<th>Rank</th>
			<th>Name</th>
			{% for job in jobs %}
			<th><a href="{% url 'attendance:jobview' job.pk %}">{% if yearview == 'gig' %} {{job.name}} on {{job.start_date}} {% else %}{{ job.start_date }}{% endif %}</a></th>
			{% endfor %}
		</tr>
		{% for musician in musicians %}
		<tr>
			<td>{{musician.get_rank_display}}</td>
			<td><a href="{% url 'attendance:musicianview' musician.pk %}">{{musician.name}}</a></td>
			{% with present_jobs=musician.present_jobs %}
			{% for job in jobs %}
			<td>
			{% if job in present_jobs %}
			<span class="glyphicon glyphicon-ok"></span>
			{% else %}
			<span class="glyphicon glyphicon-remove"></span>
			{% endif %}
			</td> 
			{% endfor %}
			{% endwith %}
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}